# MongoDB
MONGO_INITDB_DATABASE=busly
MONGO_PORT=27017

# Backend
NODE_ENV=development
MONGO_URI=mongodb://mongo:27017/busly
FRONTEND_URL=http://localhost:5173
BACKEND_PORT=3001

# Frontend
VITE_API_URL=http://localhost:3001
FRONTEND_PORT=5173